@media only screen and (max-width: 500px) {
  .manager-section > table > tbody > tr > td {
    padding-bottom: 47px !important;
  }

  .title-section div {
    line-height: 23px !important;
  }

  .text-section--intro > table > tbody > tr > td,
  .image-section--1 > table > tbody > tr > td {
    padding-bottom: 27px !important;
  }

  .text-section--marks > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .text-section--place > table > tbody > tr > td {
    padding-bottom: 0 !important;
  }

  .image-section > table > tbody > tr > td {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .image-section--3 > table > tbody > tr > td,
  .text-section--bottom > table > tbody > tr > td {
    padding-bottom: 35px !important;
  }

  .text-section--control > table > tbody > tr > td,
  .image-section--4 > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .text-section--folders > table > tbody > tr > td {
    padding-bottom: 15px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 303px !important;
  }

  .button a {
    width: 303px !important;
    font-size: 20px !important;
  }
}
