@media only screen and (max-width: 500px) {
  .pr-13 > table > tbody > tr > td {
    padding-right: 0 !important;
  }

  .manager-section > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 8px !important;
  }

  .title-section div {
    line-height: 23px !important;
  }

  .text-section b {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .text-section--keys > table > tbody > tr > td,
  .text-section--marks > table > tbody > tr > td {
    padding-bottom: 13px !important;
  }

  .text-section--intro > table > tbody > tr > td,
  .image-section--keys > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .text-section--analytics > table > tbody > tr > td {
    padding-bottom: 15px !important;
  }

  .text-section--possibility > table > tbody > tr > td {
    padding-bottom: 32px !important;
  }

  .text-section--notebook > table > tbody > tr > td {
    padding-bottom: 25px !important;
  }

  .text-section--bid > table > tbody > tr > td {
    padding-bottom: 34px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 303px !important;
  }

  .button a {
    width: 303px !important;
    font-size: 20px !important;
  }
}
