.goal {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}

.title-column {
  width: 370px !important;
}

.text-column {
  width: 460px !important;
}

.button a {
  width: 320px !important;
  border-radius: 90px !important;
  font-size: 18px !important;
}
