@media only screen and (max-width: 500px) {
  .wrapper > table > tbody > tr > td {
    padding: 0 20px 20px !important;
  }

  .logo-section > table > tbody > tr > td {
    padding: 48px 20px 25px !important;
  }

  .logo > table > tbody > tr > td {
    width: 150px !important;
  }

  .title-section > table > tbody > tr > td,
  .text-section > table > tbody > tr > td {
    padding-left: 10px !important;
  }

  .title-column {
    width: 300px !important;
  }

  .text-column {
    width: 100% !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .title-section div,
  .goal {
    line-height: 27px !important;
  }

  .goal {
    font-size: 30px !important;
  }

  .top-text-section > table > tbody > tr > td {
    padding-bottom: 25px !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .tp3-section > table > tbody > tr > td {
    padding: 0 0 40px 10px !important;
  }

  .middle-text-section > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .hat-section > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .bottom-text-section > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 43px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 300px !important;
    height: 56px !important;
  }

  .button a {
    width: 300px !important;
    height: 56px !important;
    line-height: 56px !important;
  }

  .footer-wrapper > table > tbody > tr > td {
    padding: 0 30px !important;
  }
}
