@media only screen and (max-width: 500px) {
  .footer-wrapper > table > tbody > tr > td {
    padding: 0 20px !important;
  }
  .footer-wrapper,
  .footer-wrapper > table {
    background-color: #ffffff !important;
  }
  .ya-zen-section > table > tbody > tr > td {
    padding: 0 !important;
    text-align: left !important;
    padding-bottom: 20px !important;
  }
  .ya-zen-column-left {
    width: 100% !important;
  }
  .ya-zen-column-left > table > tbody > tr > td {
    padding: 0 !important;
    padding-bottom: 13px !important;
  }
  .ya-zen-link {
    width: 130px !important;
    height: 22px !important;
    display: block !important;
  }
  .divider-section {
    display: none !important;
  }
  .social-section > table > tbody > tr > td {
    padding: 0 !important;
    padding-bottom: 12px !important;
    text-align: left !important;
  }
  .social-item {
    width: 48px !important;
  }
  .social-item > table > tbody > tr > td {
    padding-right: 11px !important;
    width: 48px !important;
  }
  .social-item--last {
    width: 37px !important;
  }
  .social-item--last > table > tbody > tr > td {
    padding-right: 0 !important;
    width: 37px !important;
  }
  .social-item-link {
    width: 37px !important;
    height: 37px !important;
  }
  .social-item-image {
    width: 37px !important;
    height: 37px !important;
    display: block !important;
  }
  .notifications-section > table > tbody > tr > td {
    padding-bottom: 13px !important;
  }
  .notification-column {
    width: 100% !important;
  }
  .notifications-text > div {
    text-align: left !important;
  }
  .footer-bottom > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }
  .footer-bottom__column {
    width: 100% !important;
  }
  .footer-bottom__column > table > tbody > tr > td {
    padding: 0 !important;
  }
  .footer-bottom__column--left > table > tbody > tr > td {
    padding-bottom: 15px !important;
  }
  .footer-bottom-link > table {
    width: 100% !important;
  }
  .footer-bottom-link > table > tbody > tr > td {
    text-align: left !important;
  }
}
