.body {
  padding-top: 25px !important;
}

.logo-column {
  width: 577px !important;
}

.password-group {
  width: 256px !important;
}

.password-column-left {
  width: 100px !important;
}

.password-column-right {
  width: 156px !important;
}

.button a {
  width: 100% !important;
  padding: 17px 0 !important;
}

.article-group {
  width: 460px !important;
}

.article-left-column {
  width: 60px !important;
}

.article-right-column {
  width: 400px !important;
}

.article-link {
  color: #1f88e5 !important;
  text-decoration: none;
}
