@media only screen and (max-width: 500px) {
  .body {
    padding-top: 0 !important;
  }

  .wrapper > table > tbody > tr > td {
    padding: 40px 15px 0 !important;
  }

  .logo-column {
    width: 100% !important;
  }

  .logo > table > tbody > tr > td {
    width: 150px !important;
  }

  .header > div > table > tbody > tr > td {
    padding: 54px 0 35px !important;
  }

  .header-text > div {
    font-size: 24px !important;
    line-height: 28px !important;
  }

  .greeting-section > table > tbody > tr > td {
    padding: 25px 0 !important;
  }

  .greeting-title {
    padding-bottom: 10px !important;
  }

  .greeting-title div {
    font-size: 18px !important;
    line-height: 27px !important;
  }

  .greeting-text div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .password-column-left {
    width: 95px !important;
  }

  .password-text div {
    font-size: 13px !important;
    line-height: 17px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .button > table {
    width: 303px !important;
  }

  .clap div {
    font-size: 36px !important;
    line-height: 42px !important;
  }

  .video-title-section > table > tbody > tr > td {
    padding-bottom: 5px !important;
  }

  .video-title-column {
    width: 310px !important;
  }

  .video-title div {
    font-size: 15px !important;
    line-height: 18px !important;
  }

  .playlist > table > tbody > tr > td,
  .playlist img {
    width: 270px !important;
    height: 150px !important;
  }

  .articles-title-section > table > tbody > tr > td {
    padding-bottom: 32px !important;
  }

  .articles-title {
    padding-left: 0 !important;
  }

  .articles-title div {
    font-size: 14px !important;
    line-height: 22px !important;
    text-align: center !important;
  }

  .article-section > table > tbody > tr > td {
    padding-left: 5px !important;
    padding-bottom: 30px !important;
  }

  .article-section--last > table > tbody > tr > td {
    padding-bottom: 42px !important;
  }

  .article-group {
    width: 325px !important;
  }

  .article-left-column {
    width: 50px !important;
  }

  .article-right-column {
    width: 275px !important;
  }

  .article-title {
    padding-bottom: 8px !important;
  }

  .article-title--pt {
    padding-top: 3px !important;
  }

  .article-title > div {
    font-size: 15px !important;
  }

  .article-text > div {
    line-height: 19px !important;
  }

  .footer-wrapper > table > tbody > tr > td {
    padding: 0 15px !important;
    padding-left: 50px !important;
  }
}

@media only screen and (max-width: 360px) {
  .header > div > table > tbody > tr > td {
    padding: 44px 0 30px !important;
  }

  .header-text > div {
    font-size: 17px !important;
    line-height: 24px !important;
  }

  .greeting-title {
    font-size: 21px !important;
  }

  .greeting-text div {
    font-size: 12px !important;
  }

  .articles-title div {
    font-size: 13px !important;
  }

  .article-right-column {
    width: 250px !important;
  }

  .article-title > div {
    font-size: 14px !important;
  }

  .article-text > div {
    font-size: 11px !important;
  }
}
