@media only screen and (max-width: 500px) {
  .wrapper > table > tbody > tr > td {
    padding: 0 20px 20px !important;
  }

  .logo-section > table > tbody > tr > td {
    padding: 40px 20px 25px !important;
  }

  .logo > table > tbody > tr > td {
    width: 150px !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .top-text-section > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .bold-text div {
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .middle-text-section > table > tbody > tr > td {
    padding-bottom: 37px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 303px !important;
  }

  .button a {
    width: 303px !important;
    font-size: 20px !important;
  }

  .smile-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .bottom-text-section > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .bottom-text-column {
    width: 295px !important;
  }

  .bottom-text div {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .call-button-section > table > tbody > tr > td {
    padding-bottom: 43px !important;
  }

  .call-button a {
    font-size: 18px !important;
  }

  .footer-wrapper > table > tbody > tr > td {
    padding: 0 30px !important;
  }
}
