@media only screen and (max-width: 500px) {
  body {
    background-color: #fff !important;
  }

  .mobile-hidden {
    display: none !important;
  }

  .mobile-show {
    display: block !important;
  }
}
