@media only screen and (max-width: 500px) {
  .manager-section > table > tbody > tr > td {
    padding-bottom: 47px !important;
  }

  .title-section div {
    line-height: 27px !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .text-section--intro > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .text-section--customers-title > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .text-section--customers-title b {
    font-size: 16px !important;
    line-height: 19px !important;
  }

  .customers-title-part {
    display: inline-block !important;
  }

  .image-section > table > tbody > tr > td {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .image-section--1 > table > tbody > tr > td {
    padding-bottom: 25px !important;
  }

  .image-section--2 > table > tbody > tr > td,
  .image-section--3 > table > tbody > tr > td,
  .text-section--bottom > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .text-section--suppliers > table > tbody > tr > td {
    padding-bottom: 0 !important;
  }

  .text-section--all-risks > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 303px !important;
  }

  .button a {
    width: 303px !important;
    font-size: 20px !important;
  }
}
