@media only screen and (max-width: 500px) {
  .manager-section > table > tbody > tr > td {
    padding-bottom: 35px !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 15px !important;
  }

  .text-section--intro > table > tbody > tr > td,
  .text-section--analytics > table > tbody > tr > td {
    padding-bottom: 25px !important;
  }

  .text-section--search > table > tbody > tr > td {
    padding-bottom: 0 !important;
  }

  .image-section > table > tbody > tr > td {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .image-section--1 > table > tbody > tr > td {
    padding-bottom: 35px !important;
  }

  .text-section--marks > table > tbody > tr > td,
  .text-section--team-work > table > tbody > tr > td {
    padding-bottom: 10px !important;
  }

  .image-section--3 > table > tbody > tr > td,
  .text-section--bottom > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 30px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 330px !important;
  }

  .button a {
    width: 330px !important;
    font-size: 20px !important;
  }
}
