@media only screen and (max-width: 500px) {
  .phone-section > table > tbody > tr > td {
    padding: 0 15px 24px !important;
  }
  .phone-column > table > tbody > tr > td {
    padding: 14px 20px !important;
  }
  .phone-text > div {
    font-size: 14px !important;
    line-height: 14px !important;
    text-align: left !important;
  }
  .phone-text a {
    font-size: 24px !important;
    line-height: 27px !important;
  }
}
