.bold-text__icon {
  display: inline-block !important;
  width: 36px !important;
}

.bold-text {
  display: inline-block !important;
  padding-right: 5px !important;
}

.tender {
  background: #fffcbf;
  width: 340px;
  height: 56px;
  padding: 12px 20px;
  border-radius: 6px;
}

.tender__text {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

.tender__type,
.tender__time-left,
.tender__price {
  display: inline-block;
}

.tender__info {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #394d72;
  padding-top: 5px;
}

.tender__type {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 2px 4px;
}

.tender__time-left {
  padding-left: 40px;
}

.tender__price {
  padding-left: 40px;
}

.tender__spacer {
  height: 8px !important;
}

.button a {
  width: 305px !important;
}

.text-column,
.victory-text__column {
  width: 350px !important;
}

.tenders__column {
  width: 405px !important;
}

.cup__column {
  width: 30px !important;
}
