@media only screen and (max-width: 500px) {
  .text-column,
  .tenders__column {
    width: 100% !important;
  }

  .manager-section > table > tbody > tr > td {
    padding-bottom: 37px !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .text-section div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .bold-text__section > table > tbody > tr > td {
    padding: 0 !important;
  }

  .bold-text__section div {
    font-size: 18px !important;
  }

  .tender {
    padding: 12px 18px !important;
  }

  .tender__text {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .tender__info {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  .tenders-text__section > table > tbody > tr > td {
    padding: 0 !important;
    padding-bottom: 40px !important;
    text-align: left !important;
  }

  .tenders-text__section div {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .tenders-text__column {
    width: 350px !important;
  }

  .victory-text__section div {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .victory-text__section > table > tbody > tr > td {
    padding-bottom: 32px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 45px !important;
  }

  .button a {
    width: 290px !important;
  }
}
