<mjml>
  <mj-head>
    <mj-include path="./include/index.mjml" />

    <mj-include
      path="./styles/partials/phone/inline-styles.css"
      type="css"
      css-inline="inline"
    />
    <mj-include path="./styles/partials/phone/styles.css" type="css" />

    <mj-attributes>
      <mj-class
        name="article-title"
        font-weight="bold"
        font-size="16px"
        line-height="17px"
        color="#1F88E5"
        padding-bottom="7px"
      />
      <mj-class name="article-text" font-size="13px" line-height="19px" />
      <mj-class
        name="article-section"
        padding-left="30px"
        padding-bottom="24px"
      />
      <mj-class name="article-group" width="460px" />
      <mj-class name="article-left-column" width="60px" />
      <mj-class name="article-right-column" width="400px" />
      <mj-class name="button" border-radius="90px" />
    </mj-attributes>

    <mj-font
      name="Inter"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />

    <mj-include
      path="./styles/templates/activation-passwordless/inline-styles.css"
      type="css"
      css-inline="inline"
    />

    <mj-include
      path="./styles/templates/activation-passwordless/styles.css"
      type="css"
    />

    <mj-title> Вы успешно прошли регистрацию! </mj-title>
    <mj-preview>
      <%= name %>, поздравляем, теперь вы можете выигрывать тендеры чаще и
      проще…
    </mj-preview>
  </mj-head>

  <mj-body css-class="body" width="580px" background-color="#F1F4F9">
    <mj-wrapper
      css-class="wrapper"
      padding="15px 20px 20px"
      background-color="#FFFFFF"
    >
      <!-- LOGO -->

      <mj-section padding-bottom="10px">
        <mj-column css-class="logo-column" width="557px">
          <mj-image
            css-class="logo"
            padding="0"
            align="left"
            width="171px"
            src="https://tenderplan.ru/public/img/email/system-emails/logo.png"
            href="https://tenderplan.ru/?utm_source=email&utm_medium=logo&utm_campaign=welcome"
          />
        </mj-column>
      </mj-section>

      <!-- HEADER -->

      <mj-section
        css-class="header"
        background-url="https://tenderplan.ru/public/img/email/system-emails/banner-1.png"
        padding="64px 0 44px"
        background-size="cover"
        background-repeat="no-repeat"
        background-color="#5530E7"
        border-radius="9px"
      >
        <mj-column>
          <mj-text
            css-class="header-text"
            color="#FFFFFF"
            font-size="30px"
            line-height="37px"
            align="center"
            font-style="normal"
            font-weight="700"
          >
            Добро пожаловать <br />
            в Тендерплан!
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- GREETING -->

      <mj-section css-class="greeting-section" padding="28px 0 20px">
        <mj-column>
          <mj-text
            css-class="greeting-title"
            padding-bottom="15px"
            align="center"
            font-weight="700"
            font-size="24px"
            line-height="28px"
          >
            Здравствуйте, Андрей Чугунов.

            <!-- Здравствуйте, <%= name %>. -->
          </mj-text>

          <mj-text
            css-class="greeting-text"
            font-size="18px"
            line-height="27px"
            align="center"
          >
            Поздравляем! Вы успешно зарегистрировались <br />
            в системе по поиску и управлению тендерами.
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- PASSWORD -->

      <mj-section padding-bottom="27px">
        <mj-group css-class="password-group" width="256px">
          <mj-column
            css-class="password-column-left"
            padding="16px 0"
            width="100px"
          >
            <mj-text
              css-class="password-text"
              font-size="15px"
              line-height="19px"
              color="#394D72"
            >
              Ваш пароль:
            </mj-text>
          </mj-column>

          <mj-column
            css-class="password-column-right"
            background-color="#F5F8FA"
            border-radius="8px"
            padding="14px 0"
            width="156px"
          >
            <mj-text
              font-family="Inter, Arial, sans-serif"
              font-weight="bold"
              font-size="18px"
              line-height="22px"
              align="center"
            >
              d4gsdf
              <!-- <%= password %> -->
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <!-- BUTTON -->

      <mj-section css-class="button-section" padding-bottom="55px">
        <mj-column>
          <mj-button
            css-class="button reset-button"
            mj-class="button"
            href="https://tenderplan.ru/app?utm_source=email&utm_medium=button&utm_campaign=welcome"
          >
            Перейти в Тендерплан
          </mj-button>
        </mj-column>
      </mj-section>

      <!-- VIDEO -->

      <mj-section padding-bottom="5px">
        <mj-column>
          <mj-text
            css-class="clap"
            font-size="46px"
            line-height="54px"
            align="center"
          >
            🎬
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding-bottom="20px" css-class="video-title-section">
        <mj-column width="320px" css-class="video-title-column">
          <mj-text
            css-class="video-title"
            font-size="16px"
            line-height="19px"
            align="center"
            font-weight="bold"
          >
            Школа Тендерплана: видеоинструкции по работе в сервисе.
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding-bottom="35px">
        <mj-column>
          <mj-image css-class="playlist" width="355px" height="200px"
          src="https://i.ibb.co/DQSTvnT/playlist.png"
          href="https://www.youtube.com/watch?v=CCIHmLdvWgc&list=PLxlFQ2Er8rdC4_wJB4wTV1BiA5ZsDABpA"
          / >
        </mj-column>
      </mj-section>

      <!-- ARTICLES SECTION -->

      <!-- TITLE -->

      <mj-section css-class="articles-title-section" padding-bottom="30px">
        <mj-column>
          <mj-text
            css-class="articles-title"
            font-weight="700"
            font-size="20px"
            line-height="22px"
            padding-left="44px"
          >
            Полезные материалы для быстрого старта
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- ARTICLES -->

      <mj-section
        css-class="article-section"
        mj-class="article-section"
        text-align="left"
      >
        <mj-group css-class="article-group" mj-class="article-group">
          <mj-column
            css-class="article-left-column"
            mj-class="article-left-column"
          >
            <mj-image
              width="32px"
              height="32px"
              src="https://tenderplan.ru/public/img/email/system-emails/search-icon.png"
            />
          </mj-column>

          <mj-column
            css-class="article-right-column"
            mj-class="article-right-column"
          >
            <mj-text
              css-class="article-title article-title--pt"
              mj-class="article-title"
              padding-top="6px"
            >
              <a
                class="article-link"
                href="https://tenderplan.ru/app/settings?section=help&article=kak_naiti_tendery&utm_source=donesettings&utm_medium=email&utm_campaign=hands&utm_content=button"
                target="_blank"
              >
                Как найти тендеры?
              </a>
            </mj-text>

            <mj-text css-class="article-text" mj-class="article-text">
              Ищите тендеры точно по вашему запросу, без лишнего мусора!
              Находите тендеры, <br class="mobile-show" />
              о которых не знают даже ваши конкуренты.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <mj-section
        css-class="article-section"
        mj-class="article-section"
        text-align="left"
      >
        <mj-group css-class="article-group" mj-class="article-group">
          <mj-column
            css-class="article-left-column"
            mj-class="article-left-column"
          >
            <mj-image
              width="23px"
              height="23px"
              src="https://tenderplan.ru/public/img/email/system-emails/plane-icon.png"
            />
          </mj-column>

          <mj-column
            css-class="article-right-column"
            mj-class="article-right-column"
          >
            <mj-text css-class="article-title" mj-class="article-title">
              <a
                class="article-link"
                href="https://tenderplan.ru/app/settings?section=help&article=kak_nachat_uchastvovat_v_torgah&utm_source=donesettings&utm_medium=email&utm_campaign=hands&utm_content=button"
                target="_blank"
              >
                Как начать участвовать в торгах?
              </a>
            </mj-text>

            <mj-text css-class="article-text" mj-class="article-text">
              Поможем избежать частых ошибок новичков сохранив ваши деньги и
              время. Расскажем как подавать больше заявок вовремя.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <mj-section
        css-class="article-section"
        mj-class="article-section"
        text-align="left"
      >
        <mj-group css-class="article-group" mj-class="article-group">
          <mj-column
            css-class="article-left-column"
            mj-class="article-left-column"
          >
            <mj-image
              width="25px"
              height="25px"
              src="https://tenderplan.ru/public/img/email/system-emails/analytics-icon.png"
            />
          </mj-column>

          <mj-column
            css-class="article-right-column"
            mj-class="article-right-column"
          >
            <mj-text css-class="article-title" mj-class="article-title">
              <a
                class="article-link"
                href="https://tenderplan.ru/app/settings?section=help&article=kak_ispolzovat_analitiky"
                target="_blank"
              >
                Как использовать аналитику?
              </a>
            </mj-text>

            <mj-text css-class="article-text" mj-class="article-text">
              Находите новые ниши или <br class="mobile-show" />
              анализируйте свои. Зарабатывайте <br class="mobile-show" />
              больше используя данные аналитики!
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <mj-section
        css-class="article-section article-section--last"
        mj-class="article-section"
        padding-bottom="26px"
        text-align="left"
      >
        <mj-group css-class="article-group" mj-class="article-group">
          <mj-column
            css-class="article-left-column"
            mj-class="article-left-column"
          >
            <mj-image
              width="32px"
              height="32px"
              src="https://tenderplan.ru/public/img/email/system-emails/team-icon.png"
            />
          </mj-column>

          <mj-column
            css-class="article-right-column"
            mj-class="article-right-column"
          >
            <mj-text css-class="article-title" mj-class="article-title">
              <a
                class="article-link"
                href="https://tenderplan.ru/app/settings?section=help&article=kak_rabotat_s_komandoy"
                target="_blank"
              >
                Как выстроить работу?
              </a>
            </mj-text>

            <mj-text css-class="article-text" mj-class="article-text">
              Выстраивайте работу с коллегами <br class="mobile-show" />
              используя инструменты Тендерплана! <br class="mobile-show" />
              Получите максимальный результат.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <mj-include path="./partials/phone.mjml" />
    </mj-wrapper>

    <mj-include path="./partials/footer.mjml" />
  </mj-body>
</mjml>
