.title-text {
  padding-right: 5px;
}

.title-icon {
  display: inline-block !important;
  max-width: 30px;
}

.text-column {
  width: 380px !important;
}

.key-left {
  width: 20px;
  padding-right: 10px;
}

.key-right {
  font-weight: bold;
  font-size: 16px;
  color: #2f3e6d;
}

.tp-column > table {
  width: 540px !important;
}

.tp-logo {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 11px;
  border-bottom: 1px solid #1b2953;
}

.tp-logo-icon {
  width: 149px;
  height: 28px;
}

.title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 10px;
}

.key {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #d5e3f6;
  padding-bottom: 10px;
}

.mark-shape {
  display: inline-block;
  width: 12px;
  height: 18px;
  border-radius: 3px;
}

.mark-text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #d5e3f6;
  padding-left: 10px;
  display: inline-block;
}

.tender {
  background: #fffcbf;
  width: 340px;
  height: 56px;
  padding: 12px;
  border-bottom: 1px solid #e3e3e3;
}

.tender--first {
  border-top-right-radius: 15px;
}

.tender--last {
  border-bottom: none;
  border-bottom-right-radius: 15px;
}

.tender-text {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

.tender-type,
.tender-time-left,
.tender-price {
  display: inline-block;
}

.tender-info {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #394d72;
  padding-top: 5px;
}

.tender-type {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 2px 4px;
}

.tender-time-left {
  padding-left: 40px;
}

.tender-price {
  padding-left: 40px;
}

.inviting-text-column {
  width: 440px !important;
}

.learn-title-column {
  width: 330px !important;
}

.learn-left {
  width: 32px;
  padding-right: 10px;
}

.learn-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #1f88e5;
  text-decoration: none;
}
