@media only screen and (max-width: 500px) {
  .body {
    /* overflow: hidden; */
    background-color: #fff !important;
  }

  .text-section > table > tbody > tr > td {
    text-align: left !important;
  }

  .text-column {
    width: 100% !important;
  }

  .keys-title-section > table > tbody > tr > td,
  .keys-list-section > table > tbody > tr > td,
  .inviting-text-section > table > tbody > tr > td,
  .learn-title-section > table > tbody > tr > td,
  .learn-section > table > tbody > tr > td {
    padding: 0 !important;
  }

  .mobile-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .contacts-section > table > tbody > tr > td {
    padding: 0 !important;
  }

  .keys-title-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .keys-list-section > table > tbody > tr > td {
    padding-bottom: 32px !important;
  }

  .inviting-text-section > table > tbody > tr > td {
    padding-bottom: 55px !important;
  }

  .inviting-text-column {
    width: 315px !important;
  }

  .inviting-text div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .learn-title-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .learn-title-column {
    width: 285px !important;
  }

  .learn-title div {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .learn-section > table > tbody > tr > td {
    padding-bottom: 40px !important;
  }

  .learn-link {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}
