.logo-column {
  width: 577px !important;
}

.manager--left {
  width: 50px !important;
}

.manager-image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
}
.manager--right {
  padding-left: 10px !important;
}
.manager-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #394d72;
}
.manager-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #394d72;
}

.button a {
  display: block !important;
  width: 290px !important;
  height: 56px !important;
  border-radius: 123px !important;
  line-height: 56px !important;
}
.contacts--left {
  padding-right: 13px;
  width: 75px;
  height: 75px;
  text-align: center;
}
.contacts--left img {
  border-radius: 50%;
  vertical-align: middle;
}
.contacts-manager {
  width: 75px !important;
  height: 75px !important;
  border-radius: 50% !important;
}
.contacts--center {
  padding-right: 14px !important;
}
.contacts-icon {
  width: 28px !important;
  height: 30px !important;
}
.contacts-link {
  font-weight: bold;
  color: #2f3e6d !important;
  text-decoration: none;
}
