@media only screen and (max-width: 500px) {
  .logo-section {
    background-color: #fff !important;
  }

  .logo-column {
    width: 100% !important;
  }

  .logo-section > table > tbody > tr > td {
    padding: 40px 0 25px 10px !important;
  }

  .wrapper > table > tbody > tr > td {
    padding: 0 10px 20px !important;
  }

  .manager-section > table > tbody > tr > td {
    padding-bottom: 33px !important;
  }

  .title-section > table > tbody > tr > td,
  .text-section > table > tbody > tr > td {
    padding: 0 !important;
  }

  .title-section > table > tbody > tr > td {
    padding-bottom: 25px !important;
  }

  .text-section > table > tbody > tr > td {
    padding-bottom: 20px !important;
  }

  .title-section div {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .text-section div {
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .button-section > table > tbody > tr > td {
    padding-bottom: 50px !important;
  }

  .button-column > table > tbody > tr > td > table {
    width: 240px !important;
  }

  .button > table > tbody > tr > td {
    height: 50px !important;
  }

  .button a {
    width: 240px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 18px !important;
  }

  .contacts-avatar div {
    width: 75px !important;
  }

  .contacts-section > table > tbody > tr > td {
    padding: 0 10px !important;
  }

  .contacts-column > table > tbody > tr > td {
    padding: 20px 16px 8px !important;
  }

  .contacts--right div {
    text-align: center;
  }
}
